[submodule "submodules/sway.module_core"]
	path = submodules/sway.module_core
	url = https://github.com/timcogames/sway.module_core.git
[submodule "submodules/sway.module_webcore"]
	path = submodules/sway.module_webcore
	url = https://github.com/timcowebapps/sway.module_webcore.git
[submodule "submodules/sway.module_webcore.mvc"]
	path = submodules/sway.module_webcore.mvc
	url = https://github.com/timcowebapps/sway.module_webcore.mvc.git
